.Form {
    width: 60%;
    height: auto;
    background-color: #25a18e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 30px;
    row-gap: 20px;
    column-gap: 20px;
}

.Form p {
    color: aliceblue;
    font-size: 30px;
    padding: 0;
}

.Buttons-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Button {
    margin: 0px 5px;
    flex: 1 1 0px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: #2d2e2e;
}

.Button-send {
    background-color: rgb(161, 194, 41);
}

.Button-send:hover {
    color: azure;
}

.Button-clear {
    background-color: indianred;
}

.Button-clear:hover {
    color: azure;
}